h1 {
    color:black;
}
.categorias {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 50px;
}
.categoria_video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100% ;
    min-height: 1700px;
    gap: 15px;
    
}
.categoria_video iframe {
    border-radius: 15px;
}
h1 {
    text-align: center;
    width: 100%;
    margin: 10px 0;
}
