/* textos/static/css/textos.css */

/* Regla para los enlaces de las preguntas */
.pregunta-item a {
    /* 🚨 1. ELIMINAR SUBRAYADO */
    text-decoration: none; 
    
    /* 🚨 2. CAMBIAR EL COLOR A NEGRO */
    color: #1D3557; 
    
    /* 3. Estilo opcional: negrita ligera */
    font-weight: 700; 
    font-size:30px;
}

/* Regla para cuando el ratón está sobre la pregunta */
.pregunta-item a:hover {
    /* Mantiene el color base, o puedes poner un gris sutil */
    color: #e1c210; /* Gris oscuro para efecto sutil */
    
    /* Asegura que no aparezca subrayado al pasar el ratón */
    text-decoration: none; 
}

/* textos/static/css/textos.css */

.imagen-respuesta {
    max-width: 100%;    /* Asegura que no sea más ancha que su contenedor */
    height: auto;       /* Mantiene la proporción de la imagen */
    max-height: 300px;  /* Limita la altura de la imagen */
    object-fit: cover;  /* Recorta si es necesario para cubrir el área sin distorsionar */
    display: block;     /* Asegura que ocupe su propia línea y los márgenes funcionen */
    margin: 0 auto 20px auto; /* Centra la imagen y añade margen inferior */
    border-radius: 6px; /* Bordes redondeados */
    border: 6px solid #153271; /* 3px de grosor, estilo sólido, color azul marino oscuro */
    /* Puedes ajustar el grosor (3px) si lo deseas */
}